<h1>Flash messages</h1>

<section>
  <h2>The problem</h2>

  <p>Just like <%= link_to "validation errors", validations_path %>, flash messages need a bit more work to be accessible by assistive tech users, because they don't get announced to screen readers when they're added to the page. To announce these types of dynamic updates &#8212; including search results, errors, or any notifications &#8212; you need to use <code>aria-live</code>.</p>
</section>

<section class="mb-2">
  <h2>ARIA live regions and flash messages</h2>

  <p>Say we have the following code in our view:</p>

    <code>
    <pre>

    <%% flash.each do |type, msg| %>
      &lt;p&gt;<%%= msg %>&lt;/p&gt;
    <%% end %>
    </pre>
    </code>

  <p>To make assistive tech announce the message, we can add an <code>aria-live</code> attribute to the paragraph element.</p>

  <code>
  <pre>

    <%% flash.each do |type, msg| %>
      &lt;p aria-live="polite"&gt;<%%= msg %>&lt;/p&gt;
    <%% end %>
  </pre>
  </code>
</section>

<%= render 'shared/back_link' %>
