<h1>Accessible flash messages</h1>

<nav aria-label="Page contents menu">
  <h2>Contents</h2>
  <ol>
    <li><a href="#flash-problem">The problem</a></li>
    <li><a href="#flash-aria-live">ARIA live regions and flash messages</a></li>
    <li><a href="#flash-resources">Resources</a></li>
  </ol>
</nav>

<article aria-labelledby="flash-problem">
  <h2 id="flash-problem">The problem</h2>

  <p>Just like <%= link_to "validation errors", validations_path %>, flash messages need a bit more work to be accessible to assistive tech users. To expose dynamic updates to screen readers &#8212; including search results, alerts, or any notifications &#8212; you need to use <code>aria-live</code> or <%= link_to "ARIA live region roles", "https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles#4._live_region_roles" %>. If you're going with roles, make sure to read the documentation carefully and use them correctly.</p>
</article>

<article class="mb-2" aria-labelledby="flash-aria-live">
  <h2 id="flash-aria-live">ARIA live regions and flash messages</h2>

  <p>Say you want to display flash messages in your view. To make assistive tech announce them, you can add an <code>aria-live="polite"</code> attribute to the wrapping element.</p>

  <iframe
    src="https://www.thiscodeworks.com/embed/62ac46798e180e00152748aa"
    style="width: 100%; height: 307px;"
    frameborder="0"
    title="Make flash messages accessible to screen readers">
  </iframe>
</article>

<section class="mb-2">
  <h2 id="flash-resources">Resources</h2>
  <ul>
    <li><a href="https://github.com/joemasilotti/railsdevs.com/blob/cf512f61b9fdb2bd7f005319fc5ee1b0cd4ef363/app/views/shared/_flash.html.erb">Code sample from Railsdevs</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions">MDN - ARIA live regions</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles#4._live_region_roles">MDN - ARIA live region roles</a></li>
  </ul>
</section>

<%= render 'shared/back_link' %>
