<h1>Semantics</h1>
<p>Use an <a href="https://validator.w3.org/">HTML validator</a></p>
<a href="https://www.deque.com/blog/top-5-rules-of-aria/">Five rules of ARIA</a>
<a href="https://www.w3.org/TR/using-aria/#rule1">Official WCAG five rules of ARIA draft</a>

<%= render 'shared/back_link' %>
