body {
  width: 60%;
  margin: 0 auto 3em auto;
  font-family: 'Open Sans', sans-serif;
}

code {
  background-color: #f1f1f1;
}

pre {
  width: 100%;
  font-size: 115%;
  background-color: #f1f1f1;
}

form {
  input {
    display: block;
    margin-bottom: 0.5em;
  }

  input[type=submit] {
    margin-top: 1em;
  }
}


@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}
