@import 'colours';

body {
  width: 60%;
  margin: 0 auto 3em auto;
  font-family: 'Open Sans', sans-serif;
}

code {
  background-color: $off-white;
}

form {
  input[type=text], input[type=submit] {
    display: block;
    margin-bottom: 0.5em;
  }

  input[type=submit] {
    margin-top: 1em;
  }
}

#homepage-header {
  text-align: center;
}

#articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;

  article {
    h2 {
      text-transform: uppercase;
    }

    padding: 0 1em;
    border-radius: 2px;
    border: 1px dotted $gray;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}
